/**********************
  Background
**********************/

.bg-blue {
  background-color: $blue;
}

.bg-red {
  background-color: $red;
}

.bg-green {
  background-color: $green;
}

.bg-orange {
  background-color: $orange;
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-60 {
  background-color: $gray-60;
}

.bg-gray-30 {
  background-color: $gray-30;
}

.bg-gray-10 {
  background-color: $gray-10;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-gray-30 {
  background-color: $gray-30;
}
