
/**********************
Color variables
**********************/

// Primary Colors

$blue: #4330FC;
$blue-light: #A4D8E8;
$green: #6FDC74;
$red: #EE3124;
$orange: #FFC440;


// Neutral Colors
$white: #FFFFFF;
$gray-10: #F2F2F2;
$gray-30: #B3B3B3;
$gray-60: #666666;
$gray: #333333;
$black: #111111;

// $gray-100
// $gray-80
// $gray-40
// $gray-10
