label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
}


textarea,
input[type="text"],
input[type="email"],
input[type="number"] {
  border: 2px solid $black;
  padding: 12px;
  width: 100%;
  outline: none;
}


.error-label {
  display: none;
  color: $red;
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 2rem;
}

.input-group {
  margin: 0 0 2rem;
}

.input-group.error {
  textarea,
  input[type="text"],
  input[type="email"] {
    border: .5rem solid $red;
  }

  .error-label {
    display: block;
  }
}

fieldset {
  border:none;
  margin: 0;
  padding: 0;
}

.checkbox-group label,
.checkbox-group input,
.radio-group label,
.radio-group input {
  font-weight: 400;
  display: inline-block;
}

.select-dropdown {
  display: flex;
  border: 2px solid black;
  overflow: hidden;
  background-color: $white;
}

.select-dropdown select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-dropdown select:focus {
  outline: none;
}

.triangle-down {
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 4rem solid black; }


.select-dropdown .triangle-down {
  border-width: 2rem 1rem 0rem 1rem;
  position: relative;
  top: 14px;
  right: 8px;
}
