
/**********************
Color variables
**********************/

// Primary Colors

$blue: #4330FC;
$blue-light: #A4D8E8;
$green: #6FDC74;
$red: #EE3124;
$orange: #FFC440;


// Neutral Colors
$white: #FFFFFF;
$gray-10: #F2F2F2;
$gray-30: #B3B3B3;
$gray-60: #666666;
$gray: #333333;
$black: #111111;

// $gray-100
// $gray-80
// $gray-40
// $gray-10



/**********************
Text color
**********************/

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.gray-10 {
  color: $gray-10;
}

.gray-30 {
  color: $gray-30;
}

.gray-60 {
  color: $gray-60;
}

.gray {
  color: $gray;
}


/**********************
  Shape Colors
**********************/
.shape-black {
  background-color: black;
}

.shape-red {
  background-color: $red;
  border-color: $red;
}

.shape-blue {
  background-color: $blue;
  border-color: $blue;
}

.shape-blue-light {
  background-color: $blue-light;
  border-color: $blue-light;
}

.shape-orange {
  background-color: $orange;
  border-color: $orange;
}

.shape-green {
  background-color: $green;
  border-color: $green;
}

.shape-gray-60 {
  background-color: $gray-60;
  border-color: $gray-60;
}

.shape-gray-30 {
  background-color: $gray-30;
  border-color: $gray-30;
}

.shape-gray-10 {
  background-color: $gray-10;
  border-color: $gray-10;
}

.shape-gray {
  background-color: $gray;
  border-color: $gray;
}
