.flex { display: flex; flex-wrap: wrap }
.flex-column { flex-direction: column; }


.items-center { align-items: center; }
.items-baseline { align-items: baseline; }

.self-center { align-self: center; }
.self-baseline { align-self: baseline; }

.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }

.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-between { align-content: space-between; }
.content-around { align-content: space-around; }
.content-stretch { align-content: stretch; }
